---
import '../styles/global.css';
import Hero from '../components/Hero.astro';
import Cards from '../components/Cards.astro';
import { CardData } from '../logic/structs';
import { CardDataItem } from '../logic/structs';







function getCards(): CardData[] {
  return [
    { title: "Programmering", items: [
      { description: "Webutveckling i Javascript/Typescript" }, 
      { description: "SQL databaser i Rust" }, 
      { description: "Grafik och spel i C++ /Python" }, 
    ] },
    { title: "Digitalt skapande", items: [
      { description: "Grundläggande videoredigering, filming och fotografering" }, 
      { description: "3D modellering i Blender" }, 
      { description: "Vektorgrafik för att göra infografik" }, 
    ] },
    { title: "Naturvetenskap", items: [
      { description: "Läst fysik 1 och 2" }, 
      { description: "Läst matematik 5 och specialsering" }, 
    ] },
  ];
}







---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>
  <body>
    
  <Hero name="Oscar Kristensson" description="Glad och nyfiken student" img="oscar.png" />

  <Cards items={getCards()}/>


  <p style="height: 300vh;"></p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>





  </body>
</html>