---
import '../styles/global.css';

import { base } from 'astro:config/client';

import Base from "../layouts/Base.astro"



---




<Base title="Home">
  <h1>Welcome!</h1>
  <p>This gets injected into the slot.</p>
</Base>