---

const { icon, link, smallIcon = false } = Astro.props;


---
<a href={link} class:list={["standard-button", { smallIcon: smallIcon }]}>
    <span class="content">
        <slot />
    </span>
    {icon && <img src={icon} alt="" class="icon" />}
</a>
