---
import { CardData, CardDataItem } from "../logic/structs.ts"

import { base } from 'astro:config/client';

import Button from "../components/Button.astro"

interface Props {
  items: CardData[];
}

const { items } = Astro.props as Props;


---
<div class="scroll-region-container">
  <div class="scroll-container">
    {items.map((item: CardData, index) => (
      <div class="card" style={`--delay: ${index * 120}ms`}>
        <h3 class="title">{item.title}</h3>
        <ul class="custom-list">
          {item.items.map(item => (
            <li>{item.description}</li>
          ))}
        </ul>
        { item.link && 
          <Button icon={base + "/arrow.svg"} link={item.link}>Läs mer</Button>
        }
        
      </div>
    ))}
  
  </div>
</div>

<style>
  .scroll-region-container {
    max-width: 100%;
    overflow-y: auto;
  }
  .scroll-container {
    /*height: 250px;            /* key: fixed or max height */
    overflow-y: auto;         /* enables vertical scrolling */
    display: flex;
    flex-direction: row;
    gap: 64px;

    padding: var(--padding-standard);
    justify-content: center;
    width: fit-content;

  }

  .card {
    padding: 16px;
    width: 350px;
    background-color: var(--background-color1);
    filter: drop-shadow(0 0 10px #00bbff7e);
    border-radius: var(--margin-standard);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;


  }
  .card :global(.standard-button) {
    margin-top: auto;
    margin-bottom: 16px;
  }

  .card:nth-child(2n) {
    filter: drop-shadow(0 0 10px #ff00ff7e);
  }

  .card .title {
    color: var(--color-text);
    text-align: center;
    font-weight: var(--text-weight-heading2);
    margin-bottom: 32px;
  }

  .card .custom-list {
    color: var(--color-text)
  }



  /* Stagger animation */

  .card.show {
    animation: staggerAnimation 500ms ease-out forwards;
    animation-delay: var(--delay);

  }

  .card.show:not() {
    animation: staggerAnimation 500ms ease-out backwards;
  }





@media (max-width: 600px) {
  .scroll-container {
    flex-direction: column;
    align-items: center;

  }

  .card {
    max-width: 75vw;
    overflow-y: hidden;
  }
    
}

</style>

<script defer>
 const cards = document.querySelectorAll(".card");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  cards.forEach((card) => observer.observe(card));
</script>