---
import { CardData, CardDataItem } from "../logic/structs.ts"

interface Props {
  items: CardData[];
}

const { items } = Astro.props as Props;


---

<section class="scroll-container">
  {items.map((item: CardData, index) => (
    <div class="card" style={`--delay: ${index * 120}ms`}>
      <h3 class="title">{item.title}</h3>
      <ul class="custom-list">
        {item.items.map(item => (
          <li>{item.description}</li>
        ))}
      </ul>
    </div>
  ))}
</div>

<style>
  .scroll-container {
    /*height: 250px;            /* key: fixed or max height */
    overflow-y: auto;         /* enables vertical scrolling */
    display: flex;
    flex-direction: row;
    gap: 64px;

    padding: var(--padding-standard);
    justify-content: center;

  }

  .card {
    padding: 16px;
    width: 350px;
    background-color: var(--background-color1);
    filter: drop-shadow(0 0 10px #00bbff7e);
    border-radius: var(--margin-standard);
    opacity: 0;


  }

  .card:nth-child(2n) {
    filter: drop-shadow(0 0 10px #ff00ff7e);
  }

  .card .title {
    color: var(--color-text);
    text-align: center;
    font-weight: var(--text-weight-heading2);
    margin-bottom: 32px;
  }

  .card .custom-list {
    color: var(--color-text)
  }



  /* Stagger animation */

  .card.show {
    animation: staggerAnimation 500ms ease-out forwards;
    animation-delay: var(--delay);

  }

  .card.show:not() {
    animation: staggerAnimation 500ms ease-out backwards;
  }


  @keyframes staggerAnimation {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translate(0px);
      opacity: 1;
    }
  }


@media (max-width: 600px) {
  .scroll-container {
    flex-direction: column;
  }

  .card {
    max-width: 80vw;
    overflow-y: none;
  }
    
}

</style>

<script defer>
 const cards = document.querySelectorAll(".card");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  cards.forEach((card) => observer.observe(card));
</script>