---
const { name, description, img } = Astro.props;
const sectionId = crypto.randomUUID();
---
<section class="hero" id={sectionId}>
  <div class="content">
    <div class="first-line">
      <div class="hello">Hej!</div>
      <div class="am">Det är jag som är</div>
  
    </div>
    <div class="main">{name}</div>
    <div class="description">- {description}</div>
    <div class="img">
      <img src={img} />
    </div>
  </div>
  <div class="arrow-button">
    <img src="icon.svg" alt="">
  </div>
</section>

<style>
  .hero .content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "other img"
      "hello img"
      "main img"
      "description img";
    padding: var(--padding-standard-large);

    justify-content: center;
  }


  .hero {
    position: relative;
    height: 100vh;
    background-color: #0a0a0a;
    justify-content: center;
    align-items: center;
    display: flex;

  }

  .arrow-button {
    position: absolute;
    bottom: 32px;

    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--background-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--background-color3) solid;
    opacity: 0;
    cursor: pointer;
  }

  .arrow-button img {
    width: 32px;
  }

  .hero .first-line {
    display: flex;
    align-items: end;
    grid-area: hello;
    margin-bottom: 4px;
  }

  .hero .img {
    display: flex;
    grid-area: img;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    
 
  }
  .hero .img img {
    height: 200px;

  }

  .hero .hello {
    grid-area: hello;
    color: var(--color-text);
    margin-right: var(--margin-standard);
    font-size: var(--text-size-heading);
  }



  .hero .am {
    grid-area: am;
    color: var(--color-text-lowEmp);
    opacity: 0;
  }

  .hero .main {
    grid-area: main;
    color: var(--color-text);
    font-size: var(--text-size-large);
    font-weight: var(--text-weight-heading1);
    background: var(--gradient-accent);
    width: fit-content;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4px;


    background-clip: text;
    color: transparent;
    display: inline-block;
    opacity: 0;
  }

  .hero .description {
    grid-area: description;
    color: var(--color-text-lowEmp);
    opacity: 0;
    
  }

  @media (max-width: 600px) {
    .hero .content {
      grid-template-areas: 
      "img"
      "hello"
      "main"
      "description";
    }

    .hero .img {
      margin-bottom: var(--margin-mobile);
    }
    
  }

/* Animations */
  .hero.show .hello {
    animation: glideInTextAbove 500ms ease-in forwards;
  }

  .hero.show .am {
    animation: glideInTextLeft 800ms ease-in forwards;
    animation-delay: 100ms;
  }
  
  .hero.show .main {
    animation: glideInTextLeft 800ms ease-in forwards;
    animation-delay: 800ms;
  }

  .hero.show .description {
    animation: glideInTextLeft 800ms ease-in forwards;
    animation-delay: 2000ms;
  }
  
@keyframes arrowButtonAnimation {
  0% {
    transform: translateY(-100px);
    filter: blur(10px);
    opacity: 0;
  }

  50% {
    transform: translateY(20px);
    filter: blur(0px);

  }

  75% {
    transform: translateY(-20px);
    filter: blur(0px);

  }

  100% {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

  .hero.show .arrow-button {
    animation: arrowButtonAnimation 500ms ease-out forwards;
    animation-delay: 3000ms;
  }





  
</style>
<script defer define:vars={{ sectionId }}>
  const section = document.querySelector("section");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    })
  });

  observer.observe(section);

const arrowButton = document.querySelector(".arrow-button") 
arrowButton.addEventListener("click", () => {
  window.scrollBy({
    top: 1000,
    left: 0,
    behavior: "smooth"
  })
})
</script>